.circle {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    background: #888;
  }

.rotated {
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  transform: rotate(270deg) translate(0px, -50px);
  float: left;
  position:absolute;
}
.prime {
  color: #375d8e !important;
}
.flagship {
  color: #670926 !important;
}
.growth {
  color: #719dd5 !important;
}