<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
    <script src="./js/billboard.pkgd.min.js"></script>
    <link rel="stylesheet" href="./css/billboard.min.css">
    <link rel="stylesheet" href="./css/insight.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
    

    <title>Risk Dial</title>
</head>
<body>
    <div id="risk_dial">
        <section class="section is-medium">
            <div class="columns is-flex is-vcentered">
                <div class="column px-0 is-3">
                    <div class="card">
                        <div class="card-content">
                            <div class="content has-text-centered">
                                <h3 class="is-size-3">Risk Tolerance</h3>   
                                <!-- <div class="columns is-flex is-vcentered">
                                    <div class="column is-6">
                                        <p class="rotated">&nbsp; &nbsp;Less . . . . . . . More</p>
                                        
                                    </div>
                                    <div class="column is-6">
                                        <button class="button is-rounded mb-2 is-small" 
                                            :class="{ 'is-focused': noHedgeActive, 'is-dark': noHedgeActive }"
                                            @click="toggleActive('noHedge')"></button>
                                        <br>
                                        <button class="button is-rounded mb-2 is-small" 
                                            :class="{ 'is-focused': growthActive, 'is-dark': growthActive }"
                                            @click="toggleActive('growth')"></button><br>
                                        <button class="button is-rounded mb-2 is-small" 
                                            :class="{ 'is-focused': primeActive, 'is-dark': primeActive }"
                                            @click="toggleActive('prime')"></button><br>
                                        <button class="button is-rounded is-small" 
                                            :class="{ 'is-focused': tradActive, 'is-dark': tradActive }"
                                            @click="toggleActive('traditional')"></button>
                                    </div>
                                </div>    -->
                                <div class="columns is-flex is-vcentered">
                                    <div id="gaugeChart" style="width: 100%;height:400px;" ref="gaugeChart"></div>
                                    
                                </div>
                                                          
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column is-9">
                    
                    <div class="card">
                        <div class="card-content">
                            <div class="columns">
                                    
                                    <!-- <div id="chart" ref="chart"></div> -->
                                    <!-- <input class="slider is-fullwidth" step="1" min="1" max="4" value="4" type="range" > -->
                                
                                <div class="column is-5 px-0 has-text-centered">
                                    <h3 class="is-size-3">Strategy Allocation</h3>
                                    <div id="dualPie" style="width: 100%;height:400px;" ref="dualPie"></div>
                                </div>
                                <div class="column px-0 is-7">
                                    <!-- prime content -->
                                    <div class="content prime has-text-centered" v-if="activeStrategy === 'prime'">
                                        <h3 class="is-size-3 prime">Prime Variation</h3>
                                        <p>Swan Defined Risk <strong class="prime"><em>Prime</em></strong> Strategy</p>
                                        <p>Focused on a smooth investment ride with downside protection.</p>
                                        <!-- <br> -->
                                        <p><strong class="prime">Step 1:</strong> Buy Equity<br>(low-cost ETFs)</p>
                                        <!-- <br> -->
                                        <p><strong class="prime">Step 2:</strong> Hedge the Equity<br><u>At-the-Money</u> LEAPS</p>
                                        <!-- <br> -->
                                        <p><strong class="prime">Step 2:</strong> Seek Additional Return<br><u>Buy Calls and Call Spreads, May Sell Calls</u></p>
                                        <br>
                                        <p><a class="prime" href="https://content.swanglobalinvestments.com/hubfs/Brochures/Slicks/Swan_DRS_Prime_1-Page_Brochure.pdf"><button class="button is-white prime">Prime Brochure</button></a></p>
                                    </div>
                                    <!-- flagship content -->
                                    <div class="content flagship has-text-centered" v-if="activeStrategy === 'flagship'">
                                        <h3 class="is-size-3 flagship">Flagship Variation</h3>
                                        <p>Swan Defined Risk <strong class="flagship"><em>Select</em></strong> Strategy</p>
                                        <p>Seeking long-term growth of capital, while mitigating downside risk.</p>
                                        <!-- <br> -->
                                        <p><strong class="flagship">Step 1:</strong> Buy Equity<br>(low-cost ETFs)</p>
                                        <!-- <br> -->
                                        <p><strong class="flagship">Step 2:</strong> Hedge the Equity<br><u>At-the-Money</u> LEAPS</p>
                                        <!-- <br> -->
                                        <p><strong class="flagship">Step 2:</strong> Seek Additional Return<br><u>Buy or Sell Calls and Puts</u></p>
                                        <br>
                                        <p><a class="flagship" href="https://content.swanglobalinvestments.com/hubfs/Brochures/Slicks/SMA_Swan_DRS_US_Large_Cap_Sectors_Select_Brochure.pdf"><button class="button is-white flagship">DRS Select Brochure</button></a></p>
                                    </div>
                                    <!-- growth content -->
                                    <div class="content growth has-text-centered" v-if="activeStrategy === 'growth'">
                                        <h3 class="is-size-3 growth">Growth Variation</h3>
                                        <p>Swan Defined Risk <strong class="growth"><em>Growth</em></strong> Strategy</p>
                                        <p>More growth oriented with some downside protection.</p>
                                        <!-- <br> -->
                                        <p><strong class="growth">Step 1:</strong> Buy Equity(low-cost ETFs),<br>Buy Long-Dated Calls</p>
                                        <!-- <br> -->
                                        <p><strong class="growth">Step 2:</strong> Hedge the Equity<br><u>Out-of-the-Money</u> LEAPS</p>
                                        <!-- <br> -->
                                        <p><strong class="growth">Step 2:</strong> Seek Additional Return<br><u>Buy or Sell Calls and Puts</u></p>
                                        <br>
                                        <p><a class="growth" href="https://content.swanglobalinvestments.com/hubfs/Brochures/Slicks/SMA_DRS_Growth_Brochure_Swan_Global_Investments.pdf"><button class="button is-white growth">DRS Growth Brochure</button></a></p>
                                    </div>
                                </div>
                                <!-- <div class="column is-3">
                                    <div id="pieChart" ref="pieChart"></div>                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="container">
            
        </div> -->
        
        <!-- <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1>Risk Level</h1>
                    <h3>More Risk</h3>
                    <button type="button" class="btn btn-outline-secondary"></button>
                    <div class="form-check">
                        <input class="form-check-input" type="radio">
                    </div>
                    <div class="circle mt-1">
                    </div>
                    <div class="circle mt-1">
                    </div>
                    <h3>Less Risk</h3>
                </div>
            </div>
        </div> -->
    </div>
    <script type="module" src="./vue/main.js" ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
</body>
</html>